@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/morninng\/Angular\/angular_fire_web\/app\/sass\/_common\.scss}line{font-family:\000032}}
#sass_test {
  color: red;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/morninng\/Angular\/angular_fire_web\/app\/sass\/_event\.scss}line{font-family:\000032}}
#event_container {
  display: -webkit-flexbox;
  display: -moz-flexbox;
  display: -ms-flexbox;
  display: -o-flexbox;
  display: flexbox;
  display: flex;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/morninng\/Angular\/angular_fire_web\/app\/sass\/_login_form\.scss}line{font-family:\000032}}
#fb_logo {
  padding: 3px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/morninng\/Angular\/angular_fire_web\/app\/sass\/_login_form\.scss}line{font-family:\000036}}
#fb_logo:hover {
  border: 3px #000 solid;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/morninng\/Angular\/angular_fire_web\/app\/sass\/_loading\.scss}line{font-family:\000031}}
.loader {
  font-size: 4px;
  margin: 20px auto;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: relative;
  text-indent: -9999em;
  -webkit-animation: load4 1.3s infinite linear;
  animation: load4 1.3s infinite linear;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}

@-webkit-keyframes load4 {
  0%,
  100% {
    box-shadow: 0 -3em 0 0.2em #000000, 2em -2em 0 0em #000000, 3em 0 0 -1em #000000, 2em 2em 0 -1em #000000, 0 3em 0 -1em #000000, -2em 2em 0 -1em #000000, -3em 0 0 -1em #000000, -2em -2em 0 0 #000000;
  }
  12.5% {
    box-shadow: 0 -3em 0 0 #000000, 2em -2em 0 0.2em #000000, 3em 0 0 0 #000000, 2em 2em 0 -1em #000000, 0 3em 0 -1em #000000, -2em 2em 0 -1em #000000, -3em 0 0 -1em #000000, -2em -2em 0 -1em #000000;
  }
  25% {
    box-shadow: 0 -3em 0 -0.5em #000000, 2em -2em 0 0 #000000, 3em 0 0 0.2em #000000, 2em 2em 0 0 #000000, 0 3em 0 -1em #000000, -2em 2em 0 -1em #000000, -3em 0 0 -1em #000000, -2em -2em 0 -1em #000000;
  }
  37.5% {
    box-shadow: 0 -3em 0 -1em #000000, 2em -2em 0 -1em #000000, 3em 0em 0 0 #000000, 2em 2em 0 0.2em #000000, 0 3em 0 0em #000000, -2em 2em 0 -1em #000000, -3em 0em 0 -1em #000000, -2em -2em 0 -1em #000000;
  }
  50% {
    box-shadow: 0 -3em 0 -1em #000000, 2em -2em 0 -1em #000000, 3em 0 0 -1em #000000, 2em 2em 0 0em #000000, 0 3em 0 0.2em #000000, -2em 2em 0 0 #000000, -3em 0em 0 -1em #000000, -2em -2em 0 -1em #000000;
  }
  62.5% {
    box-shadow: 0 -3em 0 -1em #000000, 2em -2em 0 -1em #000000, 3em 0 0 -1em #000000, 2em 2em 0 -1em #000000, 0 3em 0 0 #000000, -2em 2em 0 0.2em #000000, -3em 0 0 0 #000000, -2em -2em 0 -1em #000000;
  }
  75% {
    box-shadow: 0em -3em 0 -1em #000000, 2em -2em 0 -1em #000000, 3em 0em 0 -1em #000000, 2em 2em 0 -1em #000000, 0 3em 0 -1em #000000, -2em 2em 0 0 #000000, -3em 0em 0 0.2em #000000, -2em -2em 0 0 #000000;
  }
  87.5% {
    box-shadow: 0em -3em 0 0 #000000, 2em -2em 0 -1em #000000, 3em 0 0 -1em #000000, 2em 2em 0 -1em #000000, 0 3em 0 -1em #000000, -2em 2em 0 0 #000000, -3em 0em 0 0 #000000, -2em -2em 0 0.2em #000000;
  }
}
@keyframes load4 {
  0%,
  100% {
    box-shadow: 0 -3em 0 0.2em #000000, 2em -2em 0 0em #000000, 3em 0 0 -1em #000000, 2em 2em 0 -1em #000000, 0 3em 0 -1em #000000, -2em 2em 0 -1em #000000, -3em 0 0 -1em #000000, -2em -2em 0 0 #000000;
  }
  12.5% {
    box-shadow: 0 -3em 0 0 #000000, 2em -2em 0 0.2em #000000, 3em 0 0 0 #000000, 2em 2em 0 -1em #000000, 0 3em 0 -1em #000000, -2em 2em 0 -1em #000000, -3em 0 0 -1em #000000, -2em -2em 0 -1em #000000;
  }
  25% {
    box-shadow: 0 -3em 0 -0.5em #000000, 2em -2em 0 0 #000000, 3em 0 0 0.2em #000000, 2em 2em 0 0 #000000, 0 3em 0 -1em #000000, -2em 2em 0 -1em #000000, -3em 0 0 -1em #000000, -2em -2em 0 -1em #000000;
  }
  37.5% {
    box-shadow: 0 -3em 0 -1em #000000, 2em -2em 0 -1em #000000, 3em 0em 0 0 #000000, 2em 2em 0 0.2em #000000, 0 3em 0 0em #000000, -2em 2em 0 -1em #000000, -3em 0em 0 -1em #000000, -2em -2em 0 -1em #000000;
  }
  50% {
    box-shadow: 0 -3em 0 -1em #000000, 2em -2em 0 -1em #000000, 3em 0 0 -1em #000000, 2em 2em 0 0em #000000, 0 3em 0 0.2em #000000, -2em 2em 0 0 #000000, -3em 0em 0 -1em #000000, -2em -2em 0 -1em #000000;
  }
  62.5% {
    box-shadow: 0 -3em 0 -1em #000000, 2em -2em 0 -1em #000000, 3em 0 0 -1em #000000, 2em 2em 0 -1em #000000, 0 3em 0 0 #000000, -2em 2em 0 0.2em #000000, -3em 0 0 0 #000000, -2em -2em 0 -1em #000000;
  }
  75% {
    box-shadow: 0em -3em 0 -1em #000000, 2em -2em 0 -1em #000000, 3em 0em 0 -1em #000000, 2em 2em 0 -1em #000000, 0 3em 0 -1em #000000, -2em 2em 0 0 #000000, -3em 0em 0 0.2em #000000, -2em -2em 0 0 #000000;
  }
  87.5% {
    box-shadow: 0em -3em 0 0 #000000, 2em -2em 0 -1em #000000, 3em 0 0 -1em #000000, 2em 2em 0 -1em #000000, 0 3em 0 -1em #000000, -2em 2em 0 0 #000000, -3em 0em 0 0 #000000, -2em -2em 0 0.2em #000000;
  }
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/morninng\/Angular\/angular_fire_web\/app\/sass\/_loading2\.scss}line{font-family:\000031}}
.ball {
  background-color: transparent;
  border: 5px solid rgba(0, 183, 229, 0.9);
  opacity: .9;
  border-top: 5px solid transparent;
  border-left: 5px solid transparent;
  border-radius: 50px;
  box-shadow: 0 0 35px #2187e7;
  width: 50px;
  height: 50px;
  margin: 0 auto;
  -moz-animation: spin .5s infinite linear;
  -webkit-animation: spin .5s infinite linear;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/morninng\/Angular\/angular_fire_web\/app\/sass\/_loading2\.scss}line{font-family:\0000316}}
.ball1 {
  background-color: transparent;
  border: 5px solid rgba(0, 183, 229, 0.9);
  opacity: .9;
  border-top: 5px solid transparent;
  border-left: 5px solid transparent;
  border-radius: 50px;
  box-shadow: 0 0 15px #2187e7;
  width: 30px;
  height: 30px;
  margin: 0 auto;
  position: relative;
  top: -50px;
  -moz-animation: spinoff .5s infinite linear;
  -webkit-animation: spinoff .5s infinite linear;
}

@-moz-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(360deg);
  }
}
@-moz-keyframes spinoff {
  0% {
    -moz-transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(-360deg);
  }
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@-webkit-keyframes spinoff {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(-360deg);
  }
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/morninng\/Angular\/angular_fire_web\/app\/sass\/_event_filter\.scss}line{font-family:\000035}}
#event_filter .left_select_box > div {
  border: none !important;
  padding: 3px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/morninng\/Angular\/angular_fire_web\/app\/sass\/_event_filter\.scss}line{font-family:\0000311}}
#event_filter .pre_exist {
  margin-top: 0px;
  padding-top: 0px !important;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/morninng\/Angular\/angular_fire_web\/app\/sass\/_event_filter\.scss}line{font-family:\0000316}}
#event_filter p {
  text-decoration: underline;
  font-weight: bold;
  margin-bottom: 3px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/morninng\/Angular\/angular_fire_web\/app\/sass\/_event_filter\.scss}line{font-family:\0000321}}
#event_filter .event_list_item {
  font-size: large;
  font-weight: bold;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/morninng\/Angular\/angular_fire_web\/app\/sass\/_event_filter\.scss}line{font-family:\0000325}}
#event_filter .active_weekday_list {
  list-style: none;
  padding-left: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/morninng\/Angular\/angular_fire_web\/app\/sass\/_event_filter\.scss}line{font-family:\0000328}}
#event_filter .active_weekday_list li {
  display: inline;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/morninng\/Angular\/angular_fire_web\/app\/sass\/_event_context\.scss}line{font-family:\000035}}
#event_context_container {
  /* The starting CSS styles for the enter animation */
  /* The finishing CSS styles for the enter animation */
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/morninng\/Angular\/angular_fire_web\/app\/sass\/_event_context\.scss}line{font-family:\000037}}
#event_context_container .participants_container {
  display: -webkit-flexbox;
  display: -moz-flexbox;
  display: -ms-flexbox;
  display: -o-flexbox;
  display: flexbox;
  display: flex;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/morninng\/Angular\/angular_fire_web\/app\/sass\/_event_context\.scss}line{font-family:\0000315}}
#event_context_container #event_info {
  margin: 10px;
  padding: 10px;
  background-color: #FFFAF0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/morninng\/Angular\/angular_fire_web\/app\/sass\/_event_context\.scss}line{font-family:\0000319}}
#event_context_container #event_info .category_title {
  font-weight: bold;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/morninng\/Angular\/angular_fire_web\/app\/sass\/_event_context\.scss}line{font-family:\0000324}}
#event_context_container .each_participant_container {
  background-color: #F0F8FF;
  margin: 10px;
  padding-bottom: 20px;
  text-align: center;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/morninng\/Angular\/angular_fire_web\/app\/sass\/_event_context\.scss}line{font-family:\0000329}}
#event_context_container .each_participant_container .participant_img {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/morninng\/Angular\/angular_fire_web\/app\/sass\/_event_context\.scss}line{font-family:\0000334}}
#event_context_container .each_participant_container .participant_name {
  margin-left: 10px;
  margin-right: 10px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/morninng\/Angular\/angular_fire_web\/app\/sass\/_event_context\.scss}line{font-family:\0000338}}
#event_context_container .each_participant_container img {
  height: 70px;
  width: auto;
  margin-top: 10px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/morninng\/Angular\/angular_fire_web\/app\/sass\/_event_context\.scss}line{font-family:\0000346}}
#event_context_container .role_title {
  font-weight: bold;
  text-decoration: underline;
  font-size: large;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/morninng\/Angular\/angular_fire_web\/app\/sass\/_event_context\.scss}line{font-family:\0000351}}
#event_context_container .role_title_right {
  margin-left: 10px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/morninng\/Angular\/angular_fire_web\/app\/sass\/_event_context\.scss}line{font-family:\0000354}}
#event_context_container .role_availability_message {
  color: red;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/morninng\/Angular\/angular_fire_web\/app\/sass\/_event_context\.scss}line{font-family:\0000357}}
#event_context_container .participate_control_container {
  padding: 5px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/morninng\/Angular\/angular_fire_web\/app\/sass\/_event_context\.scss}line{font-family:\0000361}}
#event_context_container #hangout_button_container {
  text-align: center;
  background-color: #FFF8DC;
  padding: 5px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/morninng\/Angular\/angular_fire_web\/app\/sass\/_event_context\.scss}line{font-family:\0000368}}
#event_context_container .fade_angular.ng-enter {
  transition: 1.0s linear all;
  opacity: 0.2;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/morninng\/Angular\/angular_fire_web\/app\/sass\/_event_context\.scss}line{font-family:\0000373}}
#event_context_container .fade_angular.ng-enter.ng-enter-active {
  opacity: 1;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/morninng\/Angular\/angular_fire_web\/app\/sass\/_article\.scss}line{font-family:\000032}}
#article_top_link .article_title_element {
  background-color: #FFFAFA;
  border: 1px solid #000000;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/morninng\/Angular\/angular_fire_web\/app\/sass\/_article\.scss}line{font-family:\000036}}
#article_top_link .article_title_element_inner {
  background-color: #FFE4E1;
  margin-top: 3px;
  margin-bottom: 3px;
  margin-right: 20px;
  margin-left: 20px;
  text-align: center;
  font-size: large;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/morninng\/Angular\/angular_fire_web\/app\/sass\/_article\.scss}line{font-family:\0000319}}
#audio_transcript_container {
  background-color: #FFEFD5;
}

/*# sourceMappingURL=marge.css.map */
