<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Mixidea</title>
    <link rel="icon" href="./images/icon3.png" type="image/x-icon" />
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <link rel="stylesheet" href="css/marge.css">
    <!-- endbuild -->
  </head>
  <body ng-app="mixideaWebApp">
    <!--[if lte IE 8]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Add your site or application content here -->

<span ng-controller="HeaderUserCtrl">
<div id="mixidea_header">
  <div class="header_container">
    <div class="header_left">
      <a  class="header-left_logo">
        <img src="./images/mixidea_logo.png">
      </a>
      <ul class="header_left_main_nav">
        <li ><a class="header_left_main_pri" ng-click="link_articlelist()">ArticleList</a></li>
        <li ><a class="header_left_main_pri" ng-click="link_eventlist()">EventList</a></li>
        <li ><a class="header_left_main_pri" ng-click="link_mypage()">MyPage</a></li>
      </ul>
    </div>

    <div class="header_right" ng-show="user.loggedIn">
      <ul>
        <li class="header-right__sm-link">
          <a>
            <img class="icon_img" ng-src="{{user.profile_pict}}">
          </a>
        </li>
        <li class="header-right__sm-link">
          <a class="header_right_notification" ng-click="click_notification()">
            <img class="icon_img" ng-src={{notify_service.icon_img}}>
          </a>
        </li>
        <li class="header-right__sm-link">
          <a class="header_right_message" ng-click="click_message()">
            <img class="icon_img" ng-src={{event_webchat_notify_service.icon_img}}>
          </a>
        </li class="header-right__sm-link">

        <li class="header-right__sm-link">
          <a class="header_right_hamburger" ng-click="click_hamburger()">
            <img class="icon_img" src="./images/Hamburger.png">
          </a>
        </li class="header-right__sm-link">
      </ul>
    </div>


    <div class="header_right_login" ng-hide="user.loggedIn">
      <input type="button" value="login" class="btn btn-success" ng-click="show_lgoin_form()">
    </div>

  </div>

</div>

<div ng-if="under_loading">
  <div id="overlay_hide_loading">
      <br><br><br>
      <div class="ball"></div>
      <div class="ball1"></div>
      <br><br>
  </div>
</div>


<div id="header_below">

  <span ng-if="show_menu">
    <div class="menu_items">
      <ul>
        <li ng-repeat="menu in menu_list">
          <div>

            <a ng-click="menu_click(menu.func_param)"> {{menu.name}} </a>

          </div>
        </li>
      </ul>
    </div>
  </span>


  <span ng-if="show_notification">
    <div class="notification_items">
      <ul>
        <li ng-repeat="notify_obj in notify_service.notify_array">
          <div ng-click="notification_select(notify_obj)" ng-mouseenter="notify_obj.focus=true" ng-mouseleave="notify_obj.focus=false" >

            <div ng-class="{'not_seen':!notify_obj.seen}">
              <div class="gif_tex_container" ng-class="{'focused_box':notify_obj.focus==true}">
                <div class="gif_tex_img">
                  <img ng-src={{user_data_store.user_data[notify_obj.userid].profile_pict}}>
                </div>
                <div class="gif_tex_comment">
                  <span class="notify_user">
                  {{user_data_store.user_data[notify_obj.userid].first_name}}
                  </span>
                  {{notify_obj.message}}
                  <span class="notify_title">
                    <span ng-if="notify_obj.type =='argument_all' || notify_obj.type =='audio_all' || notify_obj.type =='audio_each'">
                      {{article_data_store.all_data[notify_obj.event_id].motion}}
                    </span>
                    <span ng-if="notify_obj.type =='argument_each'">
                     {{argument_data_store.all_data[notify_obj.event_id + "_" + notify_obj.argument_id]}}
                    </span>
                  </span>
                </div>
              </div>
            </div>

          </div>
        </li>
      </ul>
    </div>
  </span>

  <span ng-if="show_message">
    <div class="notification_items">
      <ul>
        <li ng-repeat="webchat_obj in event_webchat_notify_service.webchat_array">

          <div ng-click="webchat_notify_select(webchat_obj)" ng-mouseenter="webchat_obj.focus=true" ng-mouseleave="webchat_obj.focus=false" >

            <div ng-class="{'not_seen':!webchat_obj.seen}">
              <div class="gif_tex_container" ng-class="{'focused_box':webchat_obj.focus==true}">
                <div class="gif_tex_img">
                  <img ng-src={{user_data_store.user_data[webchat_obj.userid].profile_pict}}>
                </div>
                <div class="gif_tex_comment">
                  <span class="notify_user">
                  {{user_data_store.user_data[webchat_obj.userid].first_name}}
                  </span>
                  send a message in the chat room of
                  <span class="notify_title">
                     {{event_data_store.all_data[webchat_obj.event_id].date_time | DateValueString}}
                  </span>
                   event
                </div>
              </div>
            </div>
          </div>


        </li>
      </ul>
    </div>
  </span>

</div>

<span ng-if="show_webchat_PC_dialog">

<div id="pc_bottom_chat" ng-controller="EventWebchatPcCtrl">

    <div class="msg_box" >
      <div class="msg_head">
        <div class="chat_title" ng-click="click_title()"> Event participants Chat</div>
        <div class="chat_button" ng-click="close_window()">
          <img src="https://s3.amazonaws.com/mixidea/Close.png">
        </div>
      </div>



      <div class="participant_status">
        <span ng-if="webchat_message.status_mainroom.length > 0">
          <div class="room_row">
            <span class="room_name">main room</span>
            <span ng-repeat="participant_id in webchat_message.status_mainroom">
              <img ng-src={{user_service.user_data[participant_id].profile_pict}}>
            </span>
          </div>
        </span>
        <span ng-repeat="(key, value) in webchat_message.status_teamdiscuss_room">
            <div class="room_row">
              <span class="room_name">{{key}} room</span>
              <span ng-repeat="(key2, value2) in value">
                <img ng-src={{user_service.user_data[key2].profile_pict}}>
              </span>
            </div>
        </span>
      </div>



      <div id="msg_wrap">
        <div class="msg_body">
          <ul>
            <li ng-repeat="message in webchat_message.message_array">

              <span ng-if="message.type=='comment'">
                <div ng-class="message.position">
                  <div class="message_container">
                    <div class="sender_img">
                      <img ng-src={{user_service.user_data[message.user].profile_pict}}>
                    </div>
                    <div class="message_box">
                      <div class="message">
                        <span class="chat_sender_name">{{user_service.user_data[message.user].first_name}}</span>
                        <span class="chat_message">{{message.context}}</span>
                      </div>
                    </div>
                  </div>
                </div>
              </span>
              <span ng-if="message.type=='enter_hangout'">
                <div class="enter_hangout_message">
                  <img ng-src={{user_service.user_data[message.user].profile_pict}}>
                  <span class="chat_sender_name">{{user_service.user_data[message.user].first_name}}</span> {{message.context}}
                </div>
              </span>


            </li>
          </ul>
        </div>
        <div class="msg_footer">
          <textarea ng-model="chat_text_input.message" ng-keyup="chat_keyup($event)" class="msg_input" rows="2">
          </textarea>
        </div>
      </div>
    </div>

</div>

</span>

</span>

<!--
    <nav class="navbar navbar-inverse" >
      
      
      <div class="container-fluid">
        <div class="navbar-header">
          <ul class="nav navbar-nav">
            <li><a href="#/event/list" class="active">EventList</a></li>
            <li><a href="/my_page">MyPage</a></li> 
          </ul>
        </div>
        <div ng-controller="HeaderUserCtrl">
          <div ng-show="user.loggedIn">
            <ul class="nav  navbar-right mobile-hide" >
              <li>
                <img syle="width:30px;height:30px" ng-src="{{user.profile_pict}}">
              </li>
              <li>
                <a href="" ng-click="user.logout()">
                  <span class="glyphicon glyphicon-log-out"></span> Logout
                </a>
              </li>
            </ul>
          </div>
          <div ng-show="!user.loggedIn">
            <ul class="nav  navbar-right" >
              <li>
                <a href="" ng-click="show_lgoin_form()">
                  <span class="glyphicon glyphicon-log-in"></span> Login
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </nav>

    -->

    <div id="main_context">
      <div  ui-view="RootView">
        
      </div>
    </div>



    <div class="footer">
      <div class="container">
      </div>
    </div>


    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
     <script>
       !function(A,n,g,u,l,a,r){A.GoogleAnalyticsObject=l,A[l]=A[l]||function(){
       (A[l].q=A[l].q||[]).push(arguments)},A[l].l=+new Date,a=n.createElement(g),
       r=n.getElementsByTagName(g)[0],a.src=u,r.parentNode.insertBefore(a,r)
       }(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

       ga('create', 'UA-XXXXX-X');
       ga('send', 'pageview');
    </script>


    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/scripts.js -->

        <script src="scripts/app.js"></script>
        <script src="scripts/controllers/event/event_filter.js"></script>
        <script src="scripts/controllers/event/event_list.js"></script>
        <script src="scripts/controllers/event/event_calendar.js"></script>
        <script src="scripts/controllers/header-user.js"></script>

        <script src="scripts/services/userauth-service.js"></script>
        <script src="scripts/controllers/login-form.js"></script>
        <script src="scripts/controllers/event/event-layout.js"></script>
        <script src="scripts/controllers/event/create-event.js"></script>
        <script src="scripts/controllers/event/event_context.js"></script>
        <script src="scripts/filters/datevaluestring.js"></script>
        <script src="scripts/setting/mixideainitial-setting.js"></script>
        <script src="scripts/controllers/article/article-audiotranscript.js"></script>
        <script src="scripts/controllers/article/article-layout.js"></script>
        <script src="scripts/directives/one-aud-trans.js"></script>
        <script src="scripts/services/datastorageuser-service.js"></script>
        <script src="scripts/services/datastorageevent-service.js"></script>
        <script src="scripts/controllers/article/article-writtendescription.js"></script>
        <script src="scripts/directives/show-defintro_directive.js"></script>
        <script src="scripts/services/util-service.js"></script>
        <script src="scripts/directives/show-argument_directive.js"></script>
        <script src="scripts/controllers/login-form-simple.js"></script>
        <script src="scripts/services/checkbrowser-service.js"></script>
        <script src="scripts/directives/comment_directive.js"></script>
        <script src="scripts/controllers/mypage/mypage-layout.js"></script>
        <script src="scripts/controllers/mypage/mypage-event.js"></script>
        <script src="scripts/controllers/mypage/mypage-article.js"></script>
        <script src="scripts/services/datastoragearticle-service.js"></script>
        <script src="scripts/filters/datemonthdate.js"></script>
        <script src="scripts/services/notification-service.js"></script>
        <script src="scripts/services/datastorageargument-service.js"></script>
        <script src="scripts/services/eventwebchatnotification-service.js"></script>
        <script src="scripts/controllers/event-webchat_pc.js"></script>
        <script src="scripts/controllers/event-webchat_mobile.js"></script>
        <script src="scripts/services/eventwebchatmessage-service.js"></script>
        <script src="scripts/services/devicetype-service.js"></script>
        <script src="scripts/services/title-flash.js"></script>
        <script src="scripts/controllers/join-event.js"></script>
        <script src="scripts/services/eventparticipate-service.js"></script>
        <script src="scripts/services/event-util.js"></script>
        <!-- endbuild -->


        <script src="https://cdn.firebase.com/js/client/2.4.0/firebase.js"></script>
        <script src="https://cdn.firebase.com/libs/angularfire/1.1.3/angularfire.min.js"></script>
        

        <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.2/components/core-min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.2/components/cipher-core-min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.2/components/sha256-min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.2/rollups/hmac-sha256.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.2/components/enc-base64.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.2/components/format-hex-min.js"></script>

        <!--
<script src="script_mini/mixidea-mini.js"></script>
-->
</body>
</html>
