<div class="showArgumentDirective" ng-show="show_all">
	<div class="argument_head">
		<span class="argument_mark">Argumet</span>
	</div>

	<div class="argument_container">
		<div class="title_container" ng-show="title">
			<div class="title_p">
				<span class="title_font title_span">{{title}}</span>
			</div>
		</div>

		<div class="mainArg_container" ng-show="content_div">
			<div class="MainArg_Content MainArg_font"  ng-bind-html="content_div"></div>
		</div>


		<div class="refute_container clearfix" ng-show="refute_div">
			<div class="Refute_Content Refute_font"  ng-bind-html="refute_div"></div>
			<div class="refute_mark">Refute</div>
		</div>
	</div>



  	<comment_directive comment-obj="comment_obj" ></comment_directive>

</div>