
<div id="event_context_container">

<div id="event_info">
	<span class="category_title">motion:</span> {{event_obj.motion}} <br>
	<span class="category_title">context:</span>  {{event_obj.context}} <br>
	<span class="category_title">prerequisit:</span>  {{event_obj.prerequisit}} <br>
	<span class="category_title">deb_style:</span>  {{event_obj.deb_style}} <br>
	<span class="category_title">deb_skill:</span>  {{event_obj.deb_skill}} <br>
	<span class="category_title">motion:</span>  {{event_obj.motion}} <br>
	<span class="category_title">date:</span> {{event_obj.date_time | DateValueString}}<br>
</div>

<div id="hangout_button_container" ng-if="show_hangout" class="fade_angular">
	<div class="hangout_button_area">
		<div>click here to join a event call</div>
		<div>
			<a href={{hangout_url_main}}>
				<img src= "https://ssl.gstatic.com/s2/oz/images/stars/hangout/1/gplus-hangout-60x230-normal.png">
			</a>
		</div>
		<div> participants only</div>
	</div>
</div>


<div class="participate_control_container">
  <div id="debater_participate_container">
	<p>
		<span class="role_title">debater participant</span>
		<span ng-show="!available_debater" class="role_title_right role_availability_message" > already full</span>
		<span ng-show="available_debater && !already_joined" class="role_title_right" >
			<input type="button" ng-click="join('debater')" value="join as Debater" class="btn btn-success">
		</span>
	</p>
	<div class="participants_container">
		<div ng-repeat="participant in participant_debater" class="each_participant_container" >
			<div class="participant_img">
				<img src={{participant.profile_pict}}>
			</div>
			<div class="participant_name">
				{{participant.first_name}} {{participant.last_name}}

			</div>
			<div ng-if="participant.id == user.own_uid">
				<input ng-click="cancel_participante('debater')" value="cancel" type="button">
			</div>
		</div>

	</div>
  </div>


  <div id="audience_participate_container">
	<p>
		<span class="role_title">audience participant</span>
		<span ng-show="!available_audience" class="role_title_right role_availability_message" > already full</span>
		<span ng-show="available_audience && !already_joined" class="role_title_right" >
			<input type="button" ng-click="join('audience')" value="join as Audience" class="btn btn-success">
		</span>
	</p>
	<div class="participants_container">
		<div ng-repeat="participant in participant_audience" class="each_participant_container" >
			<div class="participant_img">
				<img src={{participant.profile_pict}}>
			</div>
			<div class="participant_name">
				{{participant.first_name}} {{participant.last_name}}

			</div>
			<div ng-if="participant.id == user.own_uid">
				<input ng-click="cancel_participante('audience')" value="cancel" type="button">
			</div>
		</div>

	</div>
  </div>



  <div id="aud_or_debater_participate_container">
	<p>
		<span class="role_title">Either Debater or Audience participant</span>
		<span ng-show="!available_aud_or_debater" class="role_title_right role_availability_message" > already full</span>
		<span ng-show="available_aud_or_debater && !already_joined" class="role_title_right" >
			<input type="button" ng-click="join('aud_or_debater')" value="join as Either Debater or Audience" class="btn btn-success">
		</span>
	</p>
	<div class="participants_container">
		<div ng-repeat="participant in participant_aud_or_debater" class="each_participant_container" >
			<div class="participant_img">
				<img src={{participant.profile_pict}}>
			</div>
			<div class="participant_name">
				{{participant.first_name}} {{participant.last_name}}

			</div>
			<div ng-if="participant.id == user.own_uid">
				<input ng-click="cancel_participante('aud_or_debater')" value="cancel" type="button">
			</div>
		</div>

	</div>
  </div>


</div>


</div>