#article_top_link{
	.article_title_element {
		background-color:#FFFAFA;
		border: 1px solid #000000;
	}
	.article_title_element_inner{
		background-color:#FFE4E1;
		margin-top: 3px;
		margin-bottom: 3px;
		margin-right: 20px;
		margin-left: 20px;
		text-align:center;
		font-size: large;
	}
}






#audio_transcript_container{
	background-color:#FFEFD5;

	.motion{
		font-weight:bold;
		font-size:large;
	}
	.motion_prefix{
		font-size:large;
		font-style:oblique;
	}
	>p{
		text-align:center;
	}


}