
$each_participant_container_height: 100px;
$each_participant_imagebox_height: 70px;

#event_context_container{

	.participants_container{
		display: -webkit-flexbox;
		display: -moz-flexbox;
		display: -ms-flexbox;
		display: -o-flexbox;
		display: flexbox;
		display: flex;
	}
	#event_info{
		margin:10px;
		padding: 10px;
		background-color:#FFFAF0;
		.category_title{
			font-weight: bold;
		}
	}

	.each_participant_container{
		background-color:#F0F8FF;
		margin:10px;
		padding-bottom:20px;
		text-align:center;
		.participant_img{
			padding-left:10px;
			padding-right:10px;
			padding-top:10px;
		}
		.participant_name{
			margin-left:10px;
			margin-right:10px;
		}
		img{
			height:$each_participant_imagebox_height;
			width:auto;
			margin-top:10px
		}

	}

	.role_title{
		font-weight: bold;
		text-decoration: underline;
		font-size:large;
	}
	.role_title_right{
		margin-left:10px;
	}
	.role_availability_message{
		color: red;
	}
	.participate_control_container{
		padding:5px;

	}
	#hangout_button_container{
		text-align:center;
		background-color:#FFF8DC;
		padding:5px;
	}

	/* The starting CSS styles for the enter animation */
	.fade_angular.ng-enter {
		transition:1.0s linear all;
		opacity:0.2;
	}
	/* The finishing CSS styles for the enter animation */
	.fade_angular.ng-enter.ng-enter-active {
		opacity:1;
	}

	.browser_NG{
		font-weight:bold;
		font-size:medium;
	}
	.browser_OK{
		color:red;
		font-weight:bold;
		font-size:large;
	}

}