#mypage_event_container{
	background-color:#F5F5F5;
	.mypage_title{
		text-align:center;
		font-weight:bold;
	}
	ul{
		list-style:none;
		padding-left:10px;
	}
	.each_event_list{
		border-bottom: thin solid #000000;
		p{
			margin-bottom:2px;
		}
		.mightfinish{
			background-color:#DCDCDC;
		}
		.undergoing{
			background-color:#32CD32;
		}
		.upcoming{
			background-color:#FFC0CB;
		}
		.planned{
			background-color:#FFFFFF;
		}
		.cancelled{
			background-color:#A9A9A9;
		}
	}
	.each_context{
		border-radius: 5px;
		padding-left:10px;
		margin-bottom:4px;
		p{
			font-weight:bold;
		}
	}
}


#mypage_article_container {
	background-color:#F5F5F5;
	.mypage_title{
		text-align:center;
		font-weight:bold;
	}
	ul{
		list-style:none;
		padding-left:10px;
	}

	.each_article_list{
		border-bottom: thin solid #000000;
		background-color:#98FB98;


		.each_motion{
			margin-bottom:2px;
			font-weight:bold;
			font-size:medium;
		}

		.each_context{
			background-color:#FFFFFF;
			border-radius: 5px;
			margin-left:10px;
			margin-right:10px;
			padding-left:4px;
			margin-bottom:4px;

			.article_style{
				padding-left:20px;
				font-size:small;
			}
			.article_date{
				padding-left:20px;
				font-size:small;	
			}

		}

	}
}