<div id="mypage_article_container">


<p class="mypage_title">your articles</p>

<div>
	<ul>
		<li ng-repeat="article_obj in article_obj_array | orderBy:'-time'">
			<div class="each_article_list">
				<p class="each_motion">
					<a href="#/article/{{article_obj.id}}/audio_transcript" >{{article_data.all_data[article_obj.id].motion}}</a>
				</p>
				<div class="each_context">
					<span class="article_date">
					{{article_data.all_data[article_obj.id].date_time | DateMonthDate}}</span>
					<span class="article_style">style: {{article_data.all_data[article_obj.id].deb_style}}</span>
				</div>
			</div>
		</li>
	</ul>
</div>


</div>
