<div id="mypage_event_container">


<p class="mypage_title">event you are planning to join</p>

<div>
	<ul>
		<li ng-repeat="event_obj in event_obj_array | orderBy:'-time':'reverse'">
			<div class="each_event_list">
				<p>
					<a href="#/eventcontext/context/{{event_obj.id}}" >{{event_data.all_data[event_obj.id].date_time | DateValueString}}</a>
				</p>
				<div class="each_context" ng-class="event_obj.style">
					<p ng-if="event_obj.style=='mightfinish'">finish</p>
					<p ng-if="event_obj.style=='undergoing'"> currently ongoing!!</p>
					<p ng-if="event_obj.style=='upcoming'"> Event will start soon</p>
					<p ng-if="event_obj.style=='planned'"> </p>
					<p ng-if="event_obj.style=='cancelled'"> you cancelled</p>
					context: {{event_data.all_data[event_obj.id].context}} <br>
					prerequisit: {{event_data.all_data[event_obj.id].prerequisit}} <br>
					deb_skill: {{event_data.all_data[event_obj.id].deb_skill}} <br>
				</div>
			</div>
		</li>
	</ul>
</div>


</div>

